@{
    ViewBag.Title = "Home Page";
}

@model WebApplicationMVC.Models.UserModel


@using (@Html.BeginForm(actionName:"CheckBag", method:FormMethod.Post, controllerName:"Home"))
{
    @Html.TextBoxFor(Model => Model.Id)
    @Html.TextBoxFor(Model => Model.Name)
    <button type="submit">Ok</button>
}

